@model IEnumerable<BookLibrary.ViewModels.Authors.AuthorIndexViewModel>

@{
    ViewData["Title"] = "Authors";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (User.IsInRole("Admin"))
{
    <div class="mb-3">
        <a asp-action="Create" class="btn btn-success">Add Author</a>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Author Name</th>
            <th>Country</th>
            @if (User.IsInRole("Admin"))
            {
                <th class="text-center">Actions</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td class="fs-5 fw-semibold">
                    @author.FirstName @author.LastName
                </td>

                <td class="fs-5 text-semibold">
                    @author.Country
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td class="text-center">

                        <a asp-action="Edit"
                               asp-route-id="@author.Id"
                               class="btn btn-warning btn-sm">
                            Edit
                        </a>

                        <a asp-action="Delete"
                               asp-route-id="@author.Id"
                               class="btn btn-danger btn-sm">
                            Delete
                        </a>

                    </td>
                }
            </tr>
        }
    </tbody>
</table>